In [68]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
from math import sqrt

In [70]:
df = pd.read_csv("Fishers maket.csv")

In [72]:
df.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [74]:
cat_vars = ['Species']
for i in cat_vars:
    df[i+"_cat"] = df[i].astype('category').cat.codes
    df.head(10)

In [82]:
X= df[['Species_cat','Length1','Length2','Length3','Height','Width']]
y= df['Weight']

In [84]:
fish= [0.1,0.2,0.3,0.4]

In [96]:
for shark in fish:
     # Spliting the data into a training and testing set
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = shark, random_state=42)

    # Creating and training the Linear Regression model
    model = LinearRegression()  # Create a Linear Regression model object
    model.fit(X_train, y_train)  # Train the model using the training data

    # Make predictions on the test set
    y_pred = model.predict(X_test)

    # Calculate performance metrics
    mae = mean_absolute_error(y_test, y_pred)  # Calculate Mean Absolute Error
    mse = mean_squared_error(y_test, y_pred)    # Calculate Mean Squared Error
    rmse = sqrt(mse)                           # Calculate Root Mean Squared Error
    r_squared = r2_score(y_test, y_pred)       # Calculate R-squared (Coefficient of Determination)

    # Display the results
    print(f"Printing Result Of The Test Data: ({shark})")
    print(f"Mean Absolute Error (MAE): {mae:.4f}")
    print(f"Mean Squared Error (MSE): {mse:.4f}")
    print(f"Root Mean Squared Error (RMSE): {rmse:.4f}")
    print(f"R-squared (R²): {r_squared:.4f}")
    print('\n')

Printing Result Of The Test Data: (0.1)
Mean Absolute Error (MAE): 89.5316
Mean Squared Error (MSE): 11847.7068
Root Mean Squared Error (RMSE): 108.8472
R-squared (R²): 0.9251


Printing Result Of The Test Data: (0.2)
Mean Absolute Error (MAE): 97.2979
Mean Squared Error (MSE): 13727.8166
Root Mean Squared Error (RMSE): 117.1658
R-squared (R²): 0.9035


Printing Result Of The Test Data: (0.3)
Mean Absolute Error (MAE): 90.3569
Mean Squared Error (MSE): 14037.3263
Root Mean Squared Error (RMSE): 118.4792
R-squared (R²): 0.8854


Printing Result Of The Test Data: (0.4)
Mean Absolute Error (MAE): 88.8531
Mean Squared Error (MSE): 14065.1883
Root Mean Squared Error (RMSE): 118.5967
R-squared (R²): 0.8852